@import "../helpers/mixins";

.dashboard {
    .params {
        .form-field {
            max-width: 300px;
        }
    }
    .widgets {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & > div {
            margin-bottom: 36px;
        }

        .widget {
            position: relative;
            .loader-wrapper {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(255,255,255,.6);
                .pd-loader {
                    .centrify();
                }
            }
        }
    }
}